﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav li a{
    color:#000000 !important;
}
.nav li a:hover{
    color:#ffffff !important;
}
.nav li a:focus{
    color:#ffffff !important;
}
.nav ul:hover{
    color:#ffffff!important;
}
.navbar-brand{
    color:#000000!important
}
.navbar-brand:hover{
    color:#ffffff!important;
}