﻿@{
    ViewBag.Title = "A propos du projet Site Marchand";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Notre projet consiste en l'affichage d'informations tel que les compositeurs, les albums et les enregistrements de la base Classique_Web. 
    Nous pouvons aussi pour chaque compositeurs afficher leurs albums et pour chaque album les morceaux qui le compose.</p>
<p>Nous avons aussi implémenter un panier dans lequel nous pouvons ajouter des morceaux. Nous voulions au début faire le panier
     avec des requêtes ajax. Après moults pérégrinations qui nous ont retenu plusieurs heures, nous avons fini 
    par trouver une autre solution et avons choisi de l'implémenter sur un principe de model, vue, contrôleur.</p>
<p>Une des principales difficultés rencontré fut l'impossibilité de travailler avec la base Classique_Web en local. 
    Cela a entrainé des problèmes logistiques considérables pour faire le travail rapidement dû aux impératifs 
    de chacun et rendu l'utilisation du versioning plus ou moins caduc.</p>


