﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Amazone</h1></br>
    <p class="lead">Bienvenue sur amazone,
            Site d'e-commerce spécialisé dans la vente
            de musique classique.</p>
    <p class="lead">
        Vous pouvez dès à présent effectuer votre recherche d'albums par musiciens ou par compositeurs. 
    </p>
    <p class="lead">
        Vous pouvez également les trouver par ordre alphabétique.
    </p>
</div>

