﻿@using SiteMarchand.Controllers

@{
    ViewBag.Title = "Bucket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Panier</h2>

    @if (Session["bucket"] != null)
    {

        <table cellpadding="2" cellspacing="2" border="1">
            <tr>
                <th>Titre</th>
                <th>Durée</th>
                <th>Prix</th>
            </tr>

            @foreach (Item item in (List<Item>)Session["bucket"])
            {
                <tr>
                    <td>@item.En.Titre</td>
                    <td>@item.En.Durée</td>
                    <td>@item.En.Prix</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Panier vide</p>
    }
    @if (Session["url"] != null)
    {
        <a href="@Session["url"]">Continue Shopping</a>
    }
    


