﻿@model SiteMarchand.Models.Enregistrement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Enregistrement</h4>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_de_Fichier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_de_Fichier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Durée)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durée)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Durée_Seconde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durée_Seconde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extrait)
        </dt>

        <dd>
            @Html.Music(Model.Extrait)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Composition.Titre_Composition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composition.Titre_Composition)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Code_Morceau }) |
    @Html.ActionLink("Back to List", "Index")
</p>

