﻿@model SiteMarchand.Models.Musicien
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Compositeur</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nom_Musicien)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nom_Musicien)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Prénom_Musicien)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Prénom_Musicien)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Année_Naissance)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Année_Naissance)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Année_Mort)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Année_Mort)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>
    
            <dd>
                @Html.Image(Model.Photo);
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pays.Nom_Pays)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pays.Nom_Pays)
            </dd>
    
        </dl>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>
                    Titre
                </th>
                <th>
                    Année
                </th>
                <th>
                    Genre
                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in ViewBag.Albums)
            {
                <tr>
                    <td>
                        @item.Titre_Album
                    </td>
                    <td>
                        @item.Année_Album
                    </td>
                    <td>
                        @item.Genre.Libellé_Abrégé
                    </td>
                    <td>
                        @Html.ActionLink("Details", "../Albums/Details", new { id = item.Code_Album })
                    </td>
                </tr>
            }
        </table>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Code_Musicien }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
